[user]
	name = S. Amir Najafi
  email = njfamirm@gmail.com
	signingkey = 23CE144CDD6A7F9F47380DBE01F68AC379738FE4

[alias]
  l = log
  co = checkout
  cof = checkout -- 
  sw = switch
  a = add
  c = commit -S -m
	cm = commit -S --amend
	cmn = commit -S --amend --no-edit
  pl = pull
  cl = clone
  ps = push
	pa = push --all
  s = status -s
  f = fetch
  fa = fetch -a
  b = branch
	ba = branch -avv
  cb = "!git fetch -p && for branch in $(git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}'); do git branch -D $branch; done" # clean branch
  rs = reset
  rsh = reset HEAD --
	rsclean = reset --hard
  d = diff --color --color-words --abbrev
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	
[help]
  autocorrect = 1

[push]
  default = current
  rebase = false

[color]
  ui = auto
[color "branch"]
  current = cyan bold reverse
  local = white
  plain =
  remote = cyan
[color "diff"]
  commit =
  func = cyan
  plain =
  whitespace = magenta reverse
  meta = white
  frag = cyan bold reverse
  old = red
  new = green
[color "grep"]
  context =
  filename =
  function =
  linenumber = white
  match =
  selected =
  separator =
[color "interactive"]
  error =
  header =
  help =
  prompt =
[color "status"]
  added = green
  changed = white
  header =
  localBranch =
  nobranch =
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  untracked = red
  updated = green bold

[credential]
  helper = store

[init]
	defaultBranch = main

[core]
  pager = less -FRX
	editor = vim
[advice]
	addEmptyPathspec = false
